---
# https://atlas.ripe.net/docs/howtos/software-probes.html

- name: Ensure _install dir exists
  ansible.builtin.file:
    path: "/var/_install"
    state: directory
    mode: '0755'

- name: Download RIPE repo package
  ansible.builtin.get_url:
    url: "{{ riperepo_url }}"
    checksum: "{{ riperepo_url_hash }}"
    dest: "/var/_install/{{ riperepo_url | basename }}"
    mode: '0644'

- name: Download libssl1.1 deb
  ansible.builtin.get_url:
    url: "{{ libssl11_deb }}"
    checksum: "{{ libssl11_hash }}"
    dest: "/var/_install/{{ libssl11_deb | basename }}"
    mode: '0644'
  when:
    - ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version']|int == 22

- name: Debian 11
  when:
    - ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version'] | int == 11
  block:
    - name: Debian | Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600
    - name: Debian 11 | Ensure apt-utils and systemd are present
      ansible.builtin.package:
        name:
          - apt-utils
          - systemd
        state: present
    - name: Debian 11 | Match ripe package expected path for systemd-sysusers
      ansible.builtin.file:
        src: /bin/systemd-sysusers
        dest: /usr/bin/systemd-sysusers
        state: link
        mode: '0755'

- name: Install RIPE repo deb
  ansible.builtin.package:
    deb: "/var/_install/{{ item }}"
    state: present
  loop: "{{ deb_list }}"
  notify:
    - Update apt cache
  when:
    - ansible_facts['os_family'] == 'Debian'
    - ansible_facts.packages['ripe-atlas-repo'] is not defined

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Install RIPE software probe
  ansible.builtin.package:
    name: ripe-atlas-probe
    state: present

- name: Import systemd
  ansible.builtin.import_tasks: systemd.yml

- name: Enable/Start ripe-atlas
  ansible.builtin.service:
    name: ripe-atlas
    state: started
    enabled: yes
  when:
    - not is_container | bool

- name: Last step
  ansible.builtin.debug:
    msg: "You will need to manually register probe on https://atlas.ripe.net/apply/swprobe/ with content of /etc/ripe-atlas/probe_key.pub"
