{{ ansible_managed | comment }}
# ripe ncc swprobe
# This is a minimal set, ultimately, it can be any internet domains
ftp.ripe.net
atlas.prod.ripe.net
root-servers.net
ping.ripe.net
qnamemintest.internet.nl
f.in-addr-servers.arpa
cert-bad-origin.ris.ripe.net
invalid.rpki.cloudflare.com
k.root-servers.net
rootcanary.net
anycast.ninja.ihr.live
content.ninja.ihr.live
www.ietf.org
www.icann.org
rpkitest4.nlnetlabs.nl
wikimedia.org
ripe-hackathon6.nlnetlabs.nl
ripe-hackathon4.nlnetlabs.nl
